.AboutWrapper{
  background-color: #0080DE;
  width: 500px;
  height: fit-content;
  /* 内側の余白(padding) */
  padding: 0.3em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.AboutWrapper p h1 h3{
  text-align: center;
  background-color: transparent;
  color: white;
}
.AboutWrapper-name{
  text-align: center;
  background-color: transparent;
  color: white;
}
.AboutWrapper-description{
  text-align: center;
  background-color: transparent;
  color: white;
  font-weight: bold;
}
.AboutWrapper-skill{
  text-align: center;
  background-color: transparent;
  color: white;
}
@media screen and (max-width: 550px) {
  .AboutWrapper {
    width: 350px;
  }
}