.nav-bar{
  background-color: rgba(38, 38, 38, 0.8);
  height: 5em;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.nav-bar a{
  color: white;
}
.ReiSasajima{
  font-weight: bolder;
}