.Skill-Wrapper{
  background-color: #DFF6FF;
  width: 500px;
  padding: 0.3em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.Skill-Wrapper-Title{
  text-align: center;
}
.Skill-Wrapper-Text{
  width: 80%;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
.Skill-Wrapper > a >h3{
  text-align: center;
  color: blue;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 550px) {
  .Skill-Wrapper{
    width: 350px;
  }
}